<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-searchbar [(ngModel)]="formattedAddress" debounce="300" placeholder="Standort-Suche.." animated showCancelButton="focus"></ion-searchbar>
    <!-- <ion-button color="secondary" slot="end" (click)="mapView = !mapView">
      <ion-icon   *ngIf="mapView" name="list-outline"></ion-icon>
      <ion-icon   *ngIf="!mapView" name="earth-outline"></ion-icon>
    </ion-button> -->
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-tabs>
    <ion-tab-bar slot="top">
      <ion-tab-button tab="list">
        <ion-icon name="list-outline"></ion-icon>
        <ion-badge>6</ion-badge>
      </ion-tab-button>
  
      <ion-tab-button tab="maps">
        <ion-icon name="earth-outline"></ion-icon>
      </ion-tab-button>

    </ion-tab-bar>
  </ion-tabs>

</ion-content>