<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Buchung</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>{{details?.bike.name | uppercase}}</ion-label>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Anfangsdatum</ion-label>
    <!-- <ion-text>Der ausgewählte Zeitraum ist nicht verfügbar. Bitte wählen Sie ein anderes Datum</ion-text> -->
    <ion-datetime done-text="fertig" cancel-text="Abbrechen"  [min]="startDate" displayFormat="DD.MM.YYYY" [(ngModel)]="startDate" placeholder="Datum auswählen"></ion-datetime>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Rückgabedatum</ion-label>
    <ion-datetime done-text="fertig" cancel-text="Abbrechen" [min]="startDate" displayFormat="DD.MM.YYYY" [(ngModel)]="endDate" placeholder="Datum auswählen"></ion-datetime>
  </ion-item>
  <ion-item>
    <ion-label>Mietpreis</ion-label>
    <ion-text slot="end">{{details?.bike.price}}€</ion-text>
  </ion-item>
  <ion-item>
    <ion-label >Anzahl</ion-label>
    <!-- <ion-input slot="end"  type="number" [(ngModel)]="numberOfBikes" min='1'></ion-input> -->
    <ion-text class="extras" slot="end">
      <ion-icon (click)="decrementNumberOfBikes()"  color="danger" name="remove-circle"></ion-icon>
      <ion-text>{{ '  ' + numberOfBikes + '  '}}</ion-text>
      <ion-icon (click)="incrementNumberOfBikes()" color ="secondary"name="add-circle"></ion-icon>
    </ion-text>
  </ion-item>
  <ion-item>
    <ion-label >Beleuchtungsset ({{lightingSetPrice}}€)</ion-label>
    <ion-text class="extras" slot="end">
      <ion-icon (click)="decrementNumberOfLightingSet()" color="danger" name="remove-circle"></ion-icon>
      <ion-text>{{'  ' + numberOfLightingSet + '  ' }}</ion-text>
      <ion-icon (click)="incrementNumberOfLightingSet()" color ="secondary"name="add-circle"></ion-icon>
    </ion-text>
    <!-- <ion-input slot="end"  type="number" [(ngModel)]="numberOfLightingSet" min='0'></ion-input> -->
  </ion-item>
  <ion-item>
    <ion-label >Fahrradhelm ({{helmetPrice}}€)</ion-label>
    <!-- <ion-input slot="end" type="number" [(ngModel)]="numberOfHelmets" min='0'></ion-input> -->
    <ion-text class="extras" slot="end">
      <ion-icon (click)="decrementNumberOfHelmets()" color="danger" name="remove-circle"></ion-icon>
      <ion-text>{{'  ' + numberOfHelmets + '  ' }}</ion-text>
      <ion-icon (click)="incrementNumberOfHelmets()" color ="secondary"name="add-circle"></ion-icon>
    </ion-text>
  </ion-item>
  <ion-item>
    <ion-label>Pannenkit (Kostenlos)</ion-label>
    <!-- <ion-input slot="end"  type="number" [(ngModel)]="numberOfPannenKits" min='0'></ion-input> -->
    <ion-text class="extras" slot="end">
      <ion-icon (click)="decrementNumberOfPannenKits()" color="danger" name="remove-circle"></ion-icon>
      <ion-text>{{'  ' + numberOfPannenKits + '  ' }}</ion-text>
      <ion-icon (click)="incrementNumberOfPannenKits()" color ="secondary"name="add-circle"></ion-icon>
    </ion-text>
  </ion-item>
  <ion-item>
    <ion-label>Rucksack Salomon Trailblazer</ion-label>
    <!-- <ion-input slot="end"  type="number" [(ngModel)]="numberOfBackPackSalomonTrailblazer" min='0'></ion-input> -->
    <ion-text class="extras" slot="end">
      <ion-icon (click)="decrementNumberOfBackPacks()" color="danger" name="remove-circle"></ion-icon>
      <ion-text>{{'  ' + numberOfBackPackSalomonTrailblazer + '  ' }}</ion-text>
      <ion-icon (click)="incrementNumberOfBackPacks()" color ="secondary"name="add-circle"></ion-icon>
    </ion-text>
  </ion-item>
  <ion-item>
    <ion-label>Gesamtpreis</ion-label>
    <ion-text slot="end">{{totalPrice}}€</ion-text>
  </ion-item>
  <ion-button (click)="gotoPayment()"  expand="block" color="secondary">
    <ion-icon name="cart">{{' '  + ' '}}</ion-icon>
    Fortfahren</ion-button>
</ion-content>
